@charset "utf-8";
/* Documento CSS de formatação do site
 * Author: Fábio C.S. Miranda
 */
@import 'reset.css';
@import 'text.css';

.float_right{
    float: right;
}

.float_left{
    float: left;
}

li.first{
    margin-left: 0;
}
div.last{
    margin-right: 0 !important;
}
/********** Header **************/

#header{
    height: 385px;
    width: auto;
    background-color: #414042;
    background-image: url(../img/background_header.png);
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
}
#div_logo{
    display: inline-block;
}

#div_logo div{
    height: 385px;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
}

#div_menu{
    height: 55px;
    background-color: #FBBD1A;
}
#div_menu ul{
    margin: 0 auto;
    width: 1200px;
    text-align: center;
}
#div_menu li{
    font-size: 18px;
    margin-top: 17px;
    width: 120px;
    display: inline-block;
}

#div_menu li a{
    color: #414042;
    text-decoration: none;
}

#div_menu li a:hover{
    color: #414042;
    font-weight: 700;
}

#div_home{
    background-color: #EAE6DF;
    width: 780px;
    height: 300px;
    margin: 0 auto;
    padding: 46px;
    box-sizing: border-box;
}

#div_home h5{
    text-align: center;
}

#div_portfolio{
    box-sizing: border-box;
    padding-top: 65px;
    height: 450px;
    width: 100%;
    background-color: #ccc;
}

#div_servicos{
    background-color: #414042;
    height: 450px;
    width: 100%;
    box-sizing: border-box;
    padding-top: 65px;
}

#div_servicos h3{
    color: #fff;
    font-weight: normal;
    text-align: center;
}

.image_title{
    vertical-align: baseline;
}

#div_icons_servicos{
    color: #F7F5F0;
    width: 750px;
    margin: 50px auto;
}

#div_icons_servicos div{
    width: 120px;
    float: left;
    margin-right: 90px;
    text-align: center;
}

#div_icons_servicos div p, #div_icons_quem_somos div p{
    text-align: center;
    margin-top: 10px;
    margin-bottom: 20px;
}

#div_quem_somos, #div_combo{
    background-color: #fff;
    height: 450px;
    width: 100%;
    box-sizing: border-box;
    padding-top: 65px;
}

#div_quem_somos h3, #div_portfolio h3, #div_combo h3{
    color: #414042;
    font-weight: normal;
    text-align: center;
}

#div_icons_quem_somos{
    color: #414042;
    width: 630px;
    margin: 50px auto;
}

#div_icons_quem_somos div{
    width: 150px;
    float: left;
    margin-right: 90px;
    text-align: center;
}

#div_cabe_bolso{
    height: 130px;
    background-color: #414042;
}

#icon_cabe_bolso{
    width: 102px;
    margin-top: 15px;
    float: left;
}

#div_cabe_bolso h1{
    float: left;
    color: #FBBD1A;
    font-weight: normal;
    width: 310px;
    margin-top: 5px;
    margin-left: 140px;
    text-align: center;
}

#div_title_cabe_bolso{
    width: 560px;
    margin: 0 auto;
}